p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

 .home-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
  }

  .home-link:hover {
    background-color: #0056b3;
  }

  .home-link i {
    font-size: 18px;
  }