p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

 .home-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
  }

  .home-link:hover {
    background-color: #0056b3;
  }

  .home-link i {
    font-size: 18px;
  }

  /* stylespag.css */
.dark-mode {
  background-color: #121212;
  color: white;
  transition: 0.3s;
}

.floco {
  position: fixed;
  top: 0;
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: cair 5s linear;
}

@keyframes cair {
  to {
    transform: translateY(100vh);
    opacity: 0;
  }
}

